#hero {
  background: #40BAB5;
  text-align: center;
  box-shadow: rgba(50, 50, 50, 0.5) 0px 2px 5px 0px,
              rgba(50, 50, 50, 0.5) 0px 2px 7px inset;

  .description {
    color: #FFF;
    font-size: 1.688em;
    padding-top: 70px;
    line-height: 40px;
    letter-spacing: 2px;

    @include respond-to('less than small') {
      font-size: 1.4em;
      padding-top: 70px;
      line-height: 40px;
      letter-spacing: 2px;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .download-box {
    margin-bottom: 40px;

    a {
      margin: 15px;
    }

    span {
      color: #1871A4;
      font-size: 0.875em;
    }
  }

  #banner {
    width: 100%;
    margin-bottom: -5px;
  }
}
