@import url(https://fonts.googleapis.com/css?family=Roboto|Varela+Round);

/*
  Settings breakpoint mixin
 */
@import "~breakpoint-sass";
@include add-breakpoint('bigger than x-small', 480px);
@include add-breakpoint('bigger than small', 768px);
@include add-breakpoint('bigger than small-medium', 850px);
@include add-breakpoint('bigger than medium', 992px);
@include add-breakpoint('between small and medium', 768px 992px);
@include add-breakpoint('less than small', max-width 768px);
@include add-breakpoint('less than medium', max-width 992px);


#main {
  font-family: 'Roboto', sans-serif;

  h1, h2, h3, h4, h5 {
    font-family: 'Varela Round', sans-serif;
  }

  h2 {
    font-size: 1.2em;
    padding-top: 7px;
  }

  a, a:visited, a:hover, a:active {
    text-decoration: none;
    font-family: 'Varela Round', sans-serif;
  }

  a:hover {
    color: #48d4cd !important;
  }

  .button {
    background: #3943a2;
    color: #fff;
    text-align: center;
    display: inline-block;
    padding: 5px 15px;
    margin: 15px auto;
    border-radius: 3px;
    font-size: 1.25em;
    box-shadow: 0 2px 5px 0 rgba(50,50,50,.5)
  }

  .button, .button:active, .button:hover, .button:visited {
    background: #2f76bd;
    box-shadow: 0 1px 2px 0 rgba(50,50,50,.3);
  }

  .button:hover {
    background: #316cc4 !important;
  }

  .container {
    margin: 0 auto;
    overflow: hidden;

    @include respond-to('bigger than medium') {
      width: 1010px;
    }
  }

  iframe {
    border: 0;
  }

  /*
    Site components
   */
  @import "./components/header.scss";
  @import "./components/hero.scss";
  @import "./components/app-info.scss";
  @import "./components/contributor.scss";
  @import "./components/footer.scss";
}
